$white: #ffffff;
$black: #000000;
$gray-100: #8c8c8c;
$gray-200: #696969;
$heading: "Josefin Sans", sans-serif;
$text: "Alata", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $text;
    color: $gray-100;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $heading;
        font-weight: 300;
        color: $black;
        text-transform: uppercase;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    img {
        display: block;
        width: 100%;
    }

    button {
        background-color: transparent;
        outline: none;
        border: none;
        color: inherit;
        font-size: inherit;
    }

    ul {
        list-style: none;
    }

    .loader {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba($black, 1);
        backdrop-filter: blur(30px);
        will-change: opacity, backdrop-filter;
        z-index: 4;

        .logo {
            width: 50%;
        }
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 3;
        padding: 2.5rem 1.5rem;
        will-change: background-color, padding-top, padding-bottom,
            backdrop-filter;
        transition: 0.5s background-color, 0.5s padding-top, 0.5s padding-bottom,
            0.5s backdrop-filter;

        &.inverse {
            background-color: rgba($white, 0.65);
            backdrop-filter: blur(25px);
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;

            .logo svg path,
            .burger svg path {
                fill: $black;
            }

            .nav-links li a {
                color: $black;
            }

            &.colored .nav-links li a {
                color: $white;
            }
        }

        &.colored {
            * {
                color: $white;
            }

            .logo svg path,
            .burger svg path {
                fill: $white;
            }
        }

        &.open .burger {
            .open-burger {
                display: none;
            }

            .close-burger {
                display: block;
            }
        }

        img {
            height: 100%;
        }

        .logo {
            width: 8rem;

            svg path {
                fill: $white;
                transition: 0.5s fill, 0.5s color;
            }
        }

        .burger {
            cursor: pointer;

            svg {
                &.open-burger {
                    display: block;
                }

                &.close-burger {
                    display: none;
                }

                path {
                    fill: $white;
                    transition: 0.5s fill, 0.5s color;
                }
            }
        }

        .nav-links {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100%;
            z-index: -1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: $black;
            color: $white;
            padding: 0 1.5rem;
            opacity: 0;
            pointer-events: none;

            li {
                width: fit-content;
                margin: 1rem 0;
                overflow: hidden;

                a {
                    position: relative;
                    display: block;
                    transition: 0.5s color;
                    text-transform: uppercase;
                    font-family: $heading;
                    font-weight: 300;
                    font-size: 1.75rem;
                    transform: translateY(100%);

                    &:hover::before {
                        width: 100%;
                    }

                    &::before {
                        position: absolute;
                        bottom: -0.5rem;
                        left: 50%;
                        transform: translateX(-50%);
                        content: "";
                        height: 2px;
                        width: 0;
                        background-color: $white;
                        transition: 0.5s width;
                    }
                }
            }
        }
    }

    header {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.5rem;
        height: 100vh;

        .img-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            img {
                height: 100%;
                object-fit: cover;
                filter: brightness(75%);
            }
        }

        .hero {
            position: relative;
            max-width: 624px;
            z-index: 1;
            border: 2px solid $white;
            padding: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;

            h1 {
                color: $white;
                font-size: 2.5rem;
            }
        }
    }

    main {
        padding: 6rem 1.5rem;

        .intro {
            .content-container {
                text-align: center;
                background-color: $white;
                padding-top: 3rem;

                h1 {
                    font-size: 2rem;
                }

                p {
                    margin-top: 1rem;
                    line-height: 150%;
                }
            }
        }

        .creations {
            margin-top: 7rem;

            .top-section {
                h1 {
                    font-size: 2rem;
                    text-align: center;
                }

                a {
                    display: none;
                }
            }

            .creations-container {
                margin-top: 3rem;

                .creation {
                    position: relative;
                    display: block;

                    &:not(:first-child) {
                        margin-top: 1.5rem;
                    }

                    &:hover {
                        .img-container .overlay-white {
                            opacity: 1;
                        }

                        .title-container h2 {
                            color: $black;
                        }
                    }

                    .img-container {
                        position: relative;

                        .overlay-black,
                        .overlay-white {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 50%;
                            height: 100%;
                            z-index: 1;
                            background-image: linear-gradient(
                                to right,
                                #00000090,
                                #00000000
                            );
                        }

                        .overlay-white {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            z-index: 2;
                            background-image: none;
                            background-color: rgba($white, 0.6);
                            backdrop-filter: blur(15px);
                            opacity: 0;
                            transition: 0.5s opacity;
                            will-change: opacity;
                        }
                    }

                    .title-container {
                        position: absolute;
                        bottom: 1.5rem;
                        left: 1.5rem;
                        z-index: 2;

                        h2 {
                            color: $white;
                            transition: 0.5s color;
                        }
                    }
                }
            }

            .see-all {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 3rem;

                a {
                    display: block;
                    color: $black;
                    border: 2px solid $gray-200;
                    text-transform: uppercase;
                    padding: 0.75rem 3rem;
                    letter-spacing: 5px;
                    transition: 0.5s color, 0.5s background-color, 0.5s border;

                    &:hover {
                        color: $white;
                        background-color: $black;
                        border: 2px solid $black;
                    }
                }
            }
        }
    }

    footer {
        background-color: $black;
        padding: 4rem 0;

        .logo-container {
            display: flex;
            justify-content: center;
            align-items: center;

            .logo {
                width: 10rem;
            }
        }

        .nav-links {
            margin-top: 3rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            li {
                &:not(:first-child) {
                    margin-top: 2rem;
                }

                a {
                    position: relative;
                    display: block;
                    color: $white;

                    &:hover::before {
                        width: 100%;
                    }

                    &::before {
                        position: absolute;
                        bottom: -0.5rem;
                        left: 50%;
                        transform: translateX(-50%);
                        content: "";
                        height: 2px;
                        width: 0;
                        background-color: $white;
                        transition: 0.5s width;
                    }
                }
            }
        }

        .soc-meds {
            margin-top: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;

            .soc-med {
                position: relative;
                display: block;
                margin: 0 0.5rem;

                &:hover::before {
                    width: 100%;
                }

                &::before {
                    position: absolute;
                    bottom: -0.5rem;
                    left: 50%;
                    transform: translateX(-50%);
                    content: "";
                    height: 2px;
                    width: 0;
                    background-color: $white;
                    transition: 0.5s width;
                }
            }
        }

        .copyright {
            margin-top: 1.5rem;
            color: $gray-100;
            text-align: center;
        }

        .attribution {
            text-align: center;
            margin-top: 2rem;
            color: $gray-200;
            font-size: 0.875rem;

            a {
                color: $white;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    body {
        nav {
            padding: 3rem 10rem;

            .logo {
                width: 12rem;
            }

            .burger {
                display: none;
            }

            .nav-links {
                position: static;
                display: flex;
                flex-direction: row;
                align-items: center;
                background-color: transparent;
                height: unset;
                width: unset;
                padding: 0;
                opacity: 1;
                pointer-events: all;

                li {
                    margin: 0;
                    overflow: visible;

                    &:not(:last-child) {
                        margin-right: 2rem;
                    }

                    a {
                        font-size: 1rem;
                        text-transform: none;
                        font-weight: 400;
                        transform: translateY(0);
                    }
                }
            }
        }

        header {
            padding: 0 10rem;
            justify-content: start;

            .hero {
                padding: 2rem;

                h1 {
                    font-size: 4.5rem;
                }
            }
        }

        main {
            padding: 9rem 10rem;

            .intro {
                .img-container {
                    width: 60%;
                    overflow: hidden;
                }

                .content-container {
                    position: relative;
                    width: 55%;
                    margin-top: -15rem;
                    margin-left: auto;
                    text-align: left;
                    padding: 6rem 2rem 2rem 6rem;

                    h1 {
                        font-size: 3rem;
                    }

                    p {
                        line-height: 175%;
                    }
                }
            }

            .creations {
                .top-section {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    h1 {
                        text-align: left;
                        font-size: 3rem;
                    }

                    a {
                        display: block;
                        color: $black;
                        border: 2px solid $gray-200;
                        text-transform: uppercase;
                        padding: 0.75rem 3rem;
                        letter-spacing: 5px;
                        transition: 0.5s color, 0.5s background-color,
                            0.5s border;

                        &:hover {
                            color: $white;
                            background-color: $black;
                            border: 2px solid $black;
                        }
                    }
                }

                .creations-container {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    gap: 1.5rem;

                    .creation {
                        &:not(:first-child) {
                            margin: 0;
                        }

                        .img-container .overlay {
                            width: 100%;
                        }

                        h2 {
                            font-size: 2rem;
                        }
                    }
                }

                .see-all a {
                    display: none;
                }
            }
        }

        footer {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            padding: 3rem 10rem;

            .subgrid {
                display: grid;
                grid-template-columns: 1fr;
                gap: 1rem;
            }

            .logo-container {
                justify-content: flex-start;
            }

            .nav-links {
                flex-direction: row;
                justify-content: start;
                margin: 0;

                li:not(:first-child) {
                    margin: 0 0 0 2rem;
                }
            }

            .soc-meds {
                margin: 0;
                justify-content: flex-end;
            }

            .copyright {
                margin: 0;
                text-align: right;
            }

            .attribution {
                grid-column: 1 / 3;
            }
        }
    }
}

@media screen and (min-width: 1920px) {
    body {
        nav,
        header,
        main,
        footer {
            padding-left: 15rem;
            padding-right: 15rem;
        }

        nav {
            .logo {
                width: 15rem;
            }

            .nav-links li:not(:last-child) {
                margin-right: 3rem;
            }
        }

        header {
            height: 80vh;

            .hero {
                max-width: 864px;
                padding: 3rem;

                h1 {
                    font-size: 6rem;
                }
            }
        }

        footer .subgrid {
            gap: 2rem;
        }
    }
}
